@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

mark {
    background-color: aliceblue;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    gap: 20px;
    align-items: center;
}

.logo {
    width: 250px;
    border-radius: 50px;
}

.fullname h2 {
    font-size: 0.75em;
    font-weight: 400;
    text-align: center;
}

.contacts {
    padding: 20px;
}

.contacts ul {
    margin-left: 20px;
}

.about {
    padding: 20px;
}

.about h3 {
    text-align: right;
}

.about p {
    text-align: justify;
}

.skills {
    padding: 20px;
}

.skills ul {
    margin-left: 20px;
}

.code {
    display: grid;
    padding: 20px;
}

.code h3 {
    text-align: right;
}

.code span {
    position: relative;
    margin: 20px 0;
}

.code span * {
    margin-left: 60px;
}

.gh-logo::before {
    content: " ";
    width: 44px;
    height: 44px;
    position: absolute;
    left: 0px;
    background-image: url('https://image.flaticon.com/icons/png/512/25/25231.png');
    background-size: 44px 44px; 
}

.cw-logo::before {
    content: " ";
    width: 44px;
    height: 44px;
    position: absolute;
    left: 0px;
    border-radius: 40%;
    background-image: url('https://usavkov.github.io/codewars-check/logo.png');
    background-size: 44px 44px; 
}

pre {
    padding: 20px;
    background-color: rgb(221, 226, 226);
}

.edu {
    padding: 20px;
}

.english {
    padding: 20px;
}

footer {
    height: 100px;
    display: grid;
    grid-template-columns: auto repeat(3, 100px);
    grid-template-rows: 100px;
    justify-items: center;
    align-items: center;

    background-color: #eee;
}

footer img {
    width: 100%;
}

.gh {
    display: grid;
    justify-items: center;
}

.gh img {
    width: 40%;
}